.transition {
    -webkit-transition: 0.35s all ease-in-out;
    -moz-transition: 0.35s all ease-in-out;
    -ms-transition: 0.35s all ease-in-out;
    -o-transition: 0.35s all ease-in-out;
    transition: 0.35s all ease-in-out;
    cursor: pointer;
}

.nav-button {
    text-align: center;
    @extend .transition;

    &:hover {
        background-color:rgba(238, 228, 228, 0.322);
    }
}