.contacts-header {
  display: flex;
  justify-content: space-around;
  background-color: #aaa;
}

.contacts-header h3 {
  margin: auto 1.2em;
  color: #fff;
}

.contacts-header .nav-button {
  width: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.contacts-container {
  /* scrollbar style for edge - firefox */
  scrollbar-color: #7f7f7f white;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  overflow-y: scroll;
  height: 85vh;
}

.contacts-container .contacts-list {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
}

/* scrollbar style for chrome */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #c5d2d4;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8ea6aa;
}
